<!-- 

<div id="outer-grid">
   <div id="first-grid" >
     <div *ngFor>
      <div ngclass=[]>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
   </div>
   <div id="inner-grid">
      <div (click)="onClickPlot(7)">7</div>
      <div (click)="onClickPlot(8)">8</div>
      <div (click)="onClickPlot(9)">9</div>
      <div (click)="onClickPlot(10)">10</div>
      <div (click)="onClickPlot(11)">11</div>
      <div (click)="onClickPlot(12)">12</div>
      <div>4</div>
      <div>4</div>
      <div>5</div>
      <div>5</div>
      <div>6</div>
      <div>6</div>
   </div>
   <div id="inner-grid">
      <div>1</div>
      <div>1</div>
      <div>2</div>
      <div>2</div>
      <div>3</div>
      <div>3</div>
      <div>4</div>
      <div>4</div>
      <div>5</div>
      <div>5</div>
      <div>6</div>
      <div>6</div>
   </div>
   <div id="inner-grid">
      <div>1</div>
      <div>1</div>
      <div>2</div>
      <div>2</div>
      <div>3</div>
      <div>3</div>
      <div>4</div>
      <div>4</div>
      <div>5</div>
      <div>5</div>
      <div>6</div>
      <div>6</div>
   </div>
   <div id="first-grid">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
   </div>
</div>
 -->
 <app-home></app-home>
 
